.bookCard {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  flex: 0 0 calc(25% - 16px);
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 16px;
  overflow: hidden;
  min-width: 280px;
  padding-top: 8px;
}

.contentBookCard {
  padding: 8px;
}

.bookCard img {
  display: block;
  margin: 0 auto;
  max-height: 250px;
}

.imgBlock {
  height: 250px;
}

.bookCard h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 0.9em;
}

.bookCard p {
  margin-bottom: 0;
  line-height: 1.1;
  font-size: 0.8em;
}

.description {
  line-height: 1.1;
}
